hr {

  border-style : dotted none none none;
  border-width: 7px;
  border-color: #40514E;

  width: 5%;
  margin-top: 30px;
  margin-bottom: 30px;

}
h1{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size:8vw;
  color: #66BFBF;
  padding: 0;

}
h2{
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  font-weight: normal;
  margin-bottom: 0;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
span{
  font-size: 3vw;
}
a{
  color: #11999E;
}
.topContainer{
  background-color: #ddf3f5;
  position: relative;
  padding-top:  150px;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 50px;
}
.middle-container{
  margin-bottom: 50px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 30px;

}

}
.bottom-cloud{
  position: absolute;
  padding-bottom:  20px;
  top: 300px;
  right: 70px;
  height: auto;
  width:20%;
  opacity: 0.5;
}
.top-cloud{
  position: absolute;
  padding-top: 20px;
  top: 0;
  left:100px;
  height: auto;
  width:20%;
  opacity: 0.5;

}
.mountain{
margin: auto;
opacity: 0.8;
width: 33%;
height: auto;
}
.subhead{
  position: relative;
  bottom: 20px;
  font-size: 2vw;


}
.skill-row{
  width: 50%;
  margin-right:auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;

}
.skill-img{
  width: 100px;
  height: auto;

  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.skill-img-2{
  width: 100px;
  height: auto;
  margin-left: 5px;
  margin-bottom: 20px;
  float: right;

}


.myButton {

  margin-top: 30px;
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.intro{
  width: 30%;
  margin: auto;
  padding-top: 20px;
  color: #40514E;
}
.footer-link{
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;

  font-size: 1vw;
}
